body {
  font-family: "Raleway", sans-serif;
}

.right-side-service {
  flex: 3;
  overflow-y: auto;
  margin-left: 100px;
  height: 100vh;
  font-weight: lighter;
}
.inner-right-service {
  margin-bottom: 50px;
}

.inner-right-service h1 {
  padding-top: 50px;
  font-size: 2.2rem;
  line-height: 10px;
  font-weight: 600;
  padding-bottom: 20px;
}

.inner-right-service p {
  width: 600px;
  font-size: 1.2rem;
  font-weight: normal;
}

.inner-right-service span {
  font-weight: 600;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .right-side-service {
    flex: 0;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-53%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* background-color: #fff; */
  }

  .inner-right-service {
    margin-bottom: -100px;
    padding: 40px;
  }

  .inner-right-service h1 {
    font-size: 1.5rem;
    line-height: 10px;
    font-weight: 600;
    margin-top: -105px;
    padding-bottom: 15px;
  }

  .inner-right-service h2 {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .inner-right-service p {
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
  }
}

/* Landscape and iPad View */
@media (min-width: 601px) and (max-width: 750px) {
  /* Right Side */
  .right-side-service {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .inner-right-service h1 {
    padding-top: 20px;
    font-size: 2rem;
    line-height: 10px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: left;
  }

  .inner-right-service h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: -5px;
  }

  .inner-right-service p {
    width: 400px;
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-weight: normal;
  }
}

@media (min-width: 751px) and (max-width: 1115px) {
  /* Right Side */
  .right-side-service {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .inner-right-service h1 {
    padding-top: 20px;
    font-size: 2rem;
    line-height: 10px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: left;
  }

  .inner-right-service h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: -5px;
  }

  .inner-right-service p {
    width: 400px;
    font-size: 1.2rem;
    padding-bottom: 10px;
    font-weight: normal;
  }
}
