body {
  font-family: "Raleway", sans-serif;
}
.right-side-projects {
  flex: 3;
  overflow-y: auto;
  margin-left: 100px;
  height: 100vh;
  font-weight: lighter;
}

.inner-right-projects h1 {
  padding-top: 50px;
  font-size: 2.2rem;
  line-height: 10px;
  font-weight: 600;
  padding-bottom: 20px;
}

.project-div1 {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  margin-top: 30px;
  gap: 50px;
}

.one-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin-bottom: 50px;
  margin-left: 10px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px var(--text-color);
}

.img-project {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}
.img-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texts {
  width: 100%;
  overflow: hidden;
  text-align: left;
}
.texts h2 {
  line-height: 7px;
}
.texts p {
  align-items: center;
  cursor: pointer;
}
.texts svg {
  margin-bottom: -3px;
  margin-left: 5px;
}

.tools :first-child {
  margin-bottom: -15px;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.links a {
  color: var(--text-color);
  font-weight: bold;
  text-decoration-thickness: 3px;
}

/* Portrait View Responsiveness */
@media (max-width: 600px) {
  .right-side-projects {
    flex: 0;
    margin-left: 0;
    padding: 20px;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-53%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* background-color: #fff; */
  }

  .inner-right-projects {
    padding: 40px;
  }

  .inner-right-projects h1 {
    font-size: 1.5rem;
    line-height: 10px;
    font-weight: 600;
    margin-top: -105px;
    padding-bottom: 15px;
  }

  .texts h2 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 7px;
  }

  .tools {
    font-size: 0.9rem;
  }

  .project-div1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: 100vh;
  }

  .one-side {
    margin-left: 0px;
  }

  .back-drop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 5;
    transition: opacity 0.3s ease-in-out;
  }
}

/* Landscape and iPad View */
@media (min-width: 601px) and (max-width: 750px) {
  /* Right Side */
  .right-side-projects {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .inner-right-projects h1 {
    padding-top: 20px;
    font-size: 2rem;
    line-height: 10px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: left;
  }

  .project-div1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: 100vh;
  }
}

@media (min-width: 751px) and (max-width: 1115px) {
  /* Right Side */
  .right-side-projects {
    flex: 2;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    flex-shrink: 0;
  }

  .inner-right-projects h1 {
    padding-top: 20px;
    font-size: 2rem;
    line-height: 10px;
    font-weight: 600;
    padding-bottom: 15px;
    text-align: left;
  }

  .project-div1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: 100vh;
  }
}
