:root {
  --tw-text-opacity: 1;
  --tw-bg-opacity: 1;
  --new-bg: #050d18;
  --bg-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --text-color: rgb(243 244 246 / var(--tw-text-opacity));
  --border-text: #272829;
  --accent-color: #149ddd;
  font-family: "Raleway", sans-serif;
  --new-color: #22d3ee;
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: var(--new-bg);
  color: var(--text-color);
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

@media (max-width: 600px) {
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }
}
